<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベントの作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>イベントの作成</h1>
    <form method="post" action="/create_event">
        <div>
            <label for="event_name">イベント名:</label>
            <input type="text" id="event_name" name="event_name" required>
        </div>
        <div>
            <label for="event_password">パスワード:</label>
            <input type="password" id="event_password" name="event_password" required>
        </div>
        <button type="submit">作成</button>
    </form>
    <form method="get" action="/dashboard">
        <button type="submit">戻る</button>
    </form>
</body>
</html>
